<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mayi.base_webview_library"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".view.BaseWebView">
        </activity>
        <activity
            android:name=".view.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>